/* * {
  font-family: ;
  배치 안 바뀜
} */

.publicGroupNPGL {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* 한 줄에 4개의 열을 동일한 비율로 배치 */
  gap: 15px;

  border-radius: 12px;
  box-sizing: border-box;

  cursor: pointer;
}

/* 그룹 카드 */
.groupCardNPGL {
  border: 1px solid #dddddd;
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #ffffff; /* 카드 배경색 설정 */

  padding: 20px;
}

.groupCardNPGL:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 호버 시 그림자 효과 */
}

/*그룹 생성 날짜*/
.createdAtNPGL {
  width: 42px;
  height: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  text-align: left;

  color: #282828;
}

/*|*/
.sinceNpublicNPGL {
  width: 5px;
  height: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  text-align: left;

  margin-left: 5px;
  margin-right: 5px;

  color: #b8b8b8;
}

/*공개비공개*/
.isPublicNPGL {
  width: 24px;
  height: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  text-align: left;

  color: #8d8d8d;
}

/*그룹이름*/
.nameNPGL {
  width: 150px;
  height: 19px;

  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  letter-spacing: -0.03em;
  text-align: left;

  margin-top: 21px;
  margin-bottom: 21px;
}

/*추억 공감*/
.containerNPGL {
  display: flex;
  align-items: center;
}

.postNPGL {
  width: 24px;
  height: 37px;

  margin-right: 42px;

  display: inline;
}

.imgNcountNPGL {
  display: flex;
}

.likeNPGL {
  width: 100px;
  height: 37.31px;
}

.likeNPGL img {
  width: 17.19px;
  height: 16.48px;

  margin-right: 5px;
  margin-top: 6px;
}

.postCountLetterNPGL,
.likeCountLetterNPGL {
  width: 51px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #b8b8b8;
}

.postCountNPGL,
.likeCountNPGL {
  width: 40px;
  height: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #282828;

  margin-top: 6px;
}
