/* 전역 폰트 설정 */
body {
  font-family: 'Pretendard', sans-serif; /* Pretendard 폰트를 전역으로 설정 */
}

/* 폼 전체 레이아웃 */
form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 폼 항목 간 간격 */
form div {
  margin-bottom: 35px; /* 간격을 25px로 설정하여 항목 간 간격을 넓게 */
}

/* 라벨 스타일 */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* 텍스트 입력 필드와 텍스트 영역 스타일 */
form input[type="text"],
form input[type="password"],
form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif; 
}

form textarea {
  resize: none;
  height: 100px;
  font-family: 'Pretendard', sans-serif; 
}

/* 파일 입력 필드 레이아웃 */
.file-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-input-container label {
  flex-shrink: 0;
  margin-right: 10px;
}

.file-input-container input[type="file"] {
  flex-grow: 1;
}

/* 그룹공개여부 */
.group-visibility-label {
  font-weight: bold;
  color: #333;
  margin-bottom: -25px;
}


/* 공개/비공개 체크박스 레이아웃 */
.switch-container {
  display: flex;
  align-items: center;
  gap: 30px; /* 공개와 비공개 버튼 사이 간격 */
 
}

.switch-container label {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* 비공개 체크박스 스타일 */
input[type="checkbox"] {
   margin-right: 5px; 
}


/* 버튼 스타일 */
form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Pretendard', sans-serif; /* 버튼 폰트 설정 */
}

form button:hover {
  background-color: #555;
}
