/* 페이지 전체 스타일 */
.groupDetailGD {
  width: 1920px;
  height: 2158px;

  padding: 20px;
  background-color: #ffffff;

  font-family: "Pretendard", sans-serif;
}

/* 기존 모달 배경 제거 */
.modal-background {
  display: none;
}

/* 필요할 경우, modal 클래스에서 배경 제거 */
.modal {
  background: white; /* 모달 자체의 배경색만 남김 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자만 적용 */
}

.modal-content h3 {
  font-size: 22px;
  margin-top: 3px;
  margin-bottom: 10px;
  color: #000000;
}

.modal-content p {
  text-align: center;
}

/*헤더 로고*/

.headerGD {
  width: 1920px;
  height: 100px;

  display: flex;
  text-align: center;
  align-items: center;
}

.headerLogoGD img {
  width: 137px;
  height: 48px;

  margin-left: 910px;
}

/*그룹 상세 정보*/

.groupGD {
  width: 1558px;
  height: 273px;

  border-radius: 6px;

  margin: 50px 180px 120px 160px;

  display: flex;
}

/*그룹 사진*/
.groupImgGD,
.groupImgGD img {
  width: 262px;
  height: 273px;

  border-radius: 6px;

  display: inline-block;
  margin-right: 60px; /* 사진과 텍스트 사이의 간격 */
}

/*since | 공개*/

.groupCreatedAtGD {
  height: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  /* text-align: left; */

  /* display: inline-block; */

  margin-top: 10px;
  margin-right: 10px;
}

.sinceNIsGroupPublicGD {
  height: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  /* text-align: left; */
  color: #8d8d8d;

  margin-top: 9px;
  margin-right: 10px;
}

.isGroupPublicGD {
  height: 17px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  /* text-align: left; */
  color: #8d8d8d;

  margin-top: 10px;
}

.aboutGroup {
  margin-top: 20px;
}

/*그룹 이름*/

.groupNameGD {
  height: 36px;

  font-size: 30px;
  font-weight: 700;
  line-height: 35.8px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 20px;
}

/*추억  |  공감*/

.postGD {
  height: 21px;

  margin-right: 15px;
  margin-left: 60px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  letter-spacing: -0.03em;
  text-align: left;
}

.postCountGD {
  margin-left: 5px;
}

.postCountNLikeCountGD {
  height: 21px;

  color: #b8b8b8;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  letter-spacing: -0.03em;
  text-align: left;

  margin-right: 15px;
}

.LikeGD {
  height: 21px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  letter-spacing: -0.03em;
  text-align: left;
}

.LikeCountGD {
  margin-left: 5px;
}

/*그룹 소개*/

.groupIntroductionGD {
  height: 100px;
  width: 800px;
  position: absolute;
  top: 285px;
  left: 500px;

  font-size: 18px;
  font-weight: 400;
  line-height: 21.48px;
  letter-spacing: -0.03em;
  text-align: left;
}

/*그룹 정보 수정/삭제하기 */

.modifyGroupButtonGD {
  margin-left: 840px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;

  cursor: pointer;
}

.deleteGroupButtonGD {
  margin-left: 40px;
  color: #8d8d8d;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;

  cursor: pointer;
}

.GroupDeleteModal {
  width: 480px;
  height: 335px;

  position: fixed; /* fixed로 변경하여 화면 기준으로 중앙에 위치하도록 함 */
  top: 50%; /* 화면의 세로 중앙 */
  left: 50%; /* 화면의 가로 중앙 */
  transform: translate(-50%, -50%); /* 가운데 정렬 */

  z-index: 1000; /* 다른 요소 위에 오도록 설정 */
}

/*공감 보내기 버튼*/

.sendLikeGD {
  width: 175px;
  height: 52px;
  position: absolute;
  top: 384px;
  left: 1550px;

  display: flex;
  text-align: center;
  align-items: center;

  border: 1px solid #282828;
  border-radius: 6px;
  background: #fafafa;

  cursor: pointer;
}

.sendLikeGD img {
  margin-left: 30px;
  margin-right: 10px;
}

/*구분선*/
hr {
  width: 1558px;

  color: #fafafa;
  opacity: 0.5;

  margin-bottom: 126px;
}

/*추억 목록*/
.groupPostsListGD .titleGD {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
  letter-spacing: -0.03em;
  text-align: center;
}

/*추억 올리기 버튼*/

.makeGroupGD {
  width: 200px;
  height: 45px;

  /* top: 27px; */
  left: 1540px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #282828;
  border-radius: 6px;

  cursor: pointer;
}

.makeGroupButtonGD {
  all: unset; /* 기본 button 스타일 제거 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  outline: none; /* 포커스 외곽선 제거 */

  border-radius: 6px;
}

/* :hover 상태 제거 */
.makeGroupButtonGD:hover {
  background: transparent; /* 배경색 유지 */
  box-shadow: none; /* 그림자 제거 */
}

.makeGroupLabelGD {
  font-size: 14px;
  color: #fafafa;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  text-align: center;
  cursor: pointer;
}

/*공개비공개*/
.publicGD {
  width: 78px;
  height: 45px;
  position: absolute;
  top: 820px;

  border-radius: 22.5px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 160px;
}

.privateGD {
  width: 78px;
  height: 45px;
  position: absolute;
  top: 820px;
  left: 258px;

  border-radius: 22.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.publicGD.active {
  background-color: #282828;
  color: #fff;
}

.privateGD.active {
  background-color: #282828;
  color: #fff;
}

.publicGD:not(.active) {
  background-color: #fff;
  color: #282828;
}

.privateGD:not(.active) {
  background-color: #fff;
  color: #282828;
}

/*검색*/
#searchImgGD {
  width: 24.31px;
  height: 24px;
  position: absolute;
  top: 827px;
  left: 370px;
  padding: 3px 3.04px 3px 3.04px;

  z-index: 1;
}

.searchBoxGD {
  width: 1140px;
  height: 45px;
  position: absolute;
  top: 820px;
  left: 354px;
  border: 0px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 54px;
  background: #f4f4f4;
}

.searchBoxGD::placeholder {
  position: absolute;
  top: 13px;

  opacity: 0.5;
}

/*정렬 버튼*/
.selectButtonGD {
  width: 160px;
  height: 45px;

  position: absolute;
  top: 820px;
  left: 1580px;

  border: 1px solid #282828;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 20px;
}

/*그룹 게시글들*/
.GroupPostsGD {
  position: absolute;
  top: 905px;
  left: 180px;

  border-radius: 6px;
  gap: 10px;
}

/*더보기 버튼*/
/* 
.addButtonGD {
  width: 1560px;
  height: 60px;
  border: 1px solid #282828;
  border-radius: 6px;

  display: flex;
  text-align: center;
  align-items: center;

  position: absolute;
  left: 180px;
  top: 2020px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  justify-content: center;

  margin-bottom: 120px;
} */
