.passwordPage {
  width: 1920px;
  height: 1080px;
}

/*로고*/
.passwordPageLogo {
  margin-top: 26px;
  text-align: center;
}

.passwordPageModal {
  width: 400px;
  height: 313px;

  position: absolute;
  top: 384px;
  left: 760px;
}

/*비공개 그룹*/
.passwordPageTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.64px;
  letter-spacing: -0.03em;
  text-align: center;
}

.passwordPageContent {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  letter-spacing: -0.03em;
  text-align: center;

  margin-top: 20px;
}

/*비밀번호 입력 모달*/
.passwordPageInputPassword {
  width: 400px;
  height: 75px;

  margin-top: 60px;
}

/*비밀번호를 입력해주세요*/
.passwordPageLabel {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.09px;
  letter-spacing: -0.03em;
  text-align: left;

  margin-bottom: 11px;
}

.passwordPageInput {
  width: 400px;
  height: 45px;

  border-radius: 6px;
  box-sizing: border-box;

  text-indent: 20px;
}

.passwordPageInputPassword {
  margin-bottom: 60px;
}

/*제출하기 버튼*/
.passwordPagePostButton {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordPagePost {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
  background-color: #282828;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 50px; /* 버튼의 높이와 같게 맞추기 */
  letter-spacing: -0.03em;
}
